* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

.header2 {
  width: 100%;
  height: 45vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.header2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 45vh;
  background-image: url("../img/pizza1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.nav {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.containerMenu1 {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
}
.containerMenu1__logo {
  width: 50%;
  font-size: 2.5rem;
  font-family: "Oleo Script Swash Caps", Verdana, Geneva, Tahoma, sans-serif;
  color: #08BA1A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerMenu1__logo .marcado {
  color: #FF0E0E;
}
.containerMenu1__navMenu {
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.containerMenu2 {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  z-index: 10;
}
.containerMenu2__enlaces {
  display: block;
  text-decoration: none;
  color: #333333;
  font-size: 1.1rem;
  padding: 3px;
}
.containerMenu2__enlaces:nth-child(odd):hover {
  text-decoration: 2px #08BA1A underline;
}
.containerMenu2__enlaces:nth-child(even):hover {
  text-decoration: 2px #FF0E0E underline;
}
.containerMenu2__i {
  color: gray;
  margin-right: 8px;
}

.activarMenu {
  display: block;
}

.contenido {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido__h1 {
  text-align: center;
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 2.5rem;
  text-decoration: 2px white underline;
}

@media screen and (min-width: 414px) {
  .header2 {
    width: 100%;
    height: 35vh;
  }

  .header2::before {
    width: 100%;
    height: 35vh;
    background-image: url("../img/pizza1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .contenido__h1 {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 600px) {
  .header2 {
    height: 30vh;
  }

  .header2::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 30vh;
    background-image: url("../img/pizza1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
}
@media screen and (min-width: 1025px) {
  .header2 {
    height: 40vh;
  }

  .header2::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 40vh;
    background-image: url("../img/pizza1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  .nav {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    transform: translateY(30px);
    border-radius: 5px;
  }

  .containerMenu1 {
    width: 25%;
    height: 95px;
  }
  .containerMenu1__logo {
    width: 100%;
    font-size: 3.2rem;
  }
  .containerMenu1__navMenu {
    display: none;
  }

  .containerMenu2 {
    width: 75%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerMenu2__enlaces {
    display: inline-block;
    font-size: 1.2rem;
    margin: 10px;
  }

  .contenido__h1 {
    font-size: 3.5rem;
  }
}

/*# sourceMappingURL=header2.css.map */
