//variables colores
$bg-white1 : #ffffff ;
$bg-white2 : rgb(238, 238, 238) ;
$bg-white3 : rgb(250, 250, 250) ;

$bg-dark1: #222222;
$bg-dark2: #333333;
$bg-dark3: #000000;

$bg-green: #08BA1A ;
$bg-green2: rgb(4, 139, 4) ;
$bg-green3: rgb(12, 209, 12) ;

$bg-red: #FF0E0E;

$marginAll: 15px;
$marginAll2: 20px;
$marginLeft: 10px;
$marginRight: 10px;
$marginBottom: 10px;
$marginTop: 10px;

$marginTopBottom: 20px 0;
$marginLeftRight: 0 15px;

$title1: 1.5rem;
$title2: 1.7rem;
$title3: 1.9rem;
$title4: 2rem;

$paddingAll: 10px;
$paddingAll1: 20px;
$paddingTopBottom: 15px 0;
$paddingLeftRight: 0 18px;


$fuenteText1: 'Poppins', Verdana, Geneva, Tahoma, sans-serif ;
$fuenteTextLogo: 'Oleo Script Swash Caps', Verdana, Geneva, Tahoma, sans-serif ;
$fuenteTitle: 'Nunito', Verdana, Geneva, Tahoma, sans-serif ;


